<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="[%d{HH:mm:ss}] %-5p %c{1} - %m%n"/>
    </Console>
    <RollingFile name="File"
                 fileName="D:/logs/proj_mes/app.log"
                 filePattern="D:/logs/proj_mes/app-%d{yyyy-MM-dd}-%i.log.gz">
      <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}] %-5p %c{1} - %m%n"/>
      <Policies>
        <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
        <SizeBasedTriggeringPolicy size="20MB"/>
      </Policies>
      <DefaultRolloverStrategy max="10"/>
    </RollingFile>
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </Root>
  </Loggers>
</Configuration>
