:root {
    --border: #9aa0a6;
    --text: #222;
    --muted: #666;
    --button: #5a5a5a;
    --button-text: #fff;
    --field-border: #999;
    --page-bg: #ffffff;
    --radius: 7px;
}
/* ///////////////////////////////// */

.wrap {
    border: 1px solid var(--border);
    border-radius: var(--radius);
}

/* 제목 부분 */
.titleBox {
    background-color: var(--field-border);
    height: 25px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: content-box; 
}

.titleBox span {
    font-size: 1.4em;
    font-weight: bold;
    margin-left: 10px;
    color: #333333;
}

.toMainpage {
    color: var(--button);
    margin-right: 10px;
}

/* 버튼 양식*/
.btn {
    border-radius: var(--radius);
    color: #ffffff;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 5px 15px;
}

/* 조회 부분 */
.lookup {
    border: 1px solid var(--border);
    border-radius: var(--radius);
    margin: 30px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.lookup_left {
    margin-left: 10px;
    font-weight: bold;
}

.lookup_left, .lookup_left> select {
    font-size: 1.1em;
}

.btnDiv {
    display: flex; 
    justify-content: flex-end;
}

.lookupBtn {
    background-color: #000000;
    border: 1px solid #000000;
    margin: 5px;
}

.newBOMBtn {
    background-color: #0EB4FC;
    border: 1px solid #0EB4FC;
    margin:5px;
}

/* 테이블 부분 */
.table-container {
    border: 1px solid var(--border);
    border-radius: var(--radius);
    height: 500px; /* 고정된 세로 높이 설정 */
    overflow-y: auto;
    position: relative;
    margin: 30px;
}

/* 테이블 전체에 테두리 적용 */
.bom_tab {
    border-collapse: collapse; /* 셀 경계선이 겹치지 않고 하나로 합쳐지게 함 */
    width: 100%; /* 테이블 너비를 꽉 채우도록 설정 */
}

/* 모든 헤더 셀과 데이터 셀에 테두리 적용 */
.bom_tab th, .bom_tab td {
    border: 1px solid black; /* 1px 두께의 검은색 실선 테두리 */
    padding: 8px; /* 셀 내용과 테두리 사이의 여백 추가 */
    text-align: center; /* 텍스트 정렬 (선택 사항) */
}

/* 작성자 라벨 고정 */
.writer {
    position: sticky;
    top: 0;
    right: 0;
    background: #fff;
    padding: 5px 5px;
    font-weight: bold;
    text-align: right;
    z-index: 3;
}

/* thead 고정 */
.bom_tab thead th {
    position: sticky;
    top: 0px;   /* writer div 높이만큼 조절 */
    background: #999;
    z-index: 2;
    border: 1px solid var(--border);
}

/* 수정 버튼 */
.bottomBtn {
    display: flex; 
    justify-content: flex-end;
    margin: 10px 30px 30px 30px;
}

.updateBOMBtn {
    background-color: #000000;
    border: 1px solid #000000;
    display: none;
}

