/* template의 :root 복사. 템플릿 적용됐다면 날려도 OK */
:root {
    --border: #9aa0a6;
    --text: #222;
    --muted: #666;
    --button: #5a5a5a;
    --button-text: #fff;
    --field-border: #999;
    --page-bg: #ffffff;
    --radius: 7px;
}

body {
    max-width: 1280px;
}

.wrap {
    border: 1px solid var(--border);
    border-radius: 5px;
    background-color: #ffffff;
    width: 90%;
    margin: 10px auto;
}

/* 필터 블록 */
/* select, 날짜 입력란 */
input[type="date"], select {
    width: 60%;
    max-width: 400px;
    min-width: 150px;
    height: 80%;
    border: 1px solid var(--border);
    border-radius: 10px;
    color: var(--text);
    background-color: #ffffff;
    display: flex;
    align-items: center;
    font-family: 'Pretendard';
    font-size: 1.1rem;
}

/* 모든 버튼 공통 레이아웃 */
.button {
    width: 40%;
    height: 80%;
    max-width: 120px;
    min-width: 100px;
    border-radius: var(--radius);
    border: none;
    background-color: var(--button);
    color: var(--button-text);
    margin: 0 10px;
    font-family: 'Pretendard';
    font-weight: 700;
    font-size: 1.1rem;
    height: 40px;
}

/* 조건 선택 영역 */
.wrap-select {
    display: flex;
    justify-content: space-between;
    margin: 30px 50px;
    word-wrap: break-word;
    border: 1px solid var(--border);
    border-radius: var(--radius);
    padding: 50px;
}

.select-box {
    width: 70%;
    display: flex;
    justify-content: space-between;
    word-wrap: break-word;
}

.select-submit {
    width: 30%;
    display: flex;
    justify-content: end;
    margin: auto;
}

/* 필터-버튼 설정 */
.wrap-filter {
    margin: 30px 50px;
}

/* 테이블 설정 */
.wrap-table {
    margin: 30px 50px;
}

.table-view {
    height: 500px;
    overflow: scroll;
}

table {
    width: 100%;
    text-align: center;
}

th {
    background-color: var(--field-border);
    height: 30px;
    font-family: 'Pretendard';
    font-weight: 700;
    font-size: 1.1rem;
    color: var(--button-text);
}

th, tr, td {
    border: 1px solid black;
}

/* 삭제, 등록 버튼 영역 */
.wrap-tableBtn {
    text-align: right;
    margin-top: 30px;
}


@media (max-width: 768px) {

}